* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #0f4761;
}

a {
  color: #0f4761;
}

h1,
h2,
h3 {
  font-family: "Chewy", system-ui;
  margin-bottom: 30px;
}

h1 {
  font-size: 35pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 18pt;
}

p {
  font-size: 13pt;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcf1fc;
  padding: 5px;
}

footer {
  background-color: #dcf1fc;
  padding: 20px;
  text-align: center;
}

.logo img {
  height: 100px;
  width: auto;
}

nav a {
  text-decoration: none;
  margin: 0 10px 20px;
}

footer a {
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
}

.content {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.2em;
}

.action {
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #0f4761;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.action:hover {
  background-color: #000;
}

.impressum-text {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  /* Header */
  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo img {
    height: 80px; /* Logo anpassen */
  }

  nav {
    flex-direction: row; /* Navigation links nebeneinander */
    justify-content: center; /* Links horizontal zentrieren */
  }

  nav a {
    margin: 0 10px; /* Den Abstand zwischen den Links beibehalten */
  }

  /* Content */
  .content {
    padding: 20px;
  }

  p {
    font-size: 12pt; /* Textgröße anpassen */
  }

  .action {
    width: 100%;
    padding: 15px 0;
    font-size: 18px; /* Button größer */
  }

  .text-content {
    max-width: 100%; /* Textinhalt auf 100% setzen */
    margin-bottom: 20px; /* Abstand nach unten */
  }
}
