.hero {
  position: relative;
  height: 70vh;
  background-image: url("../images/backgroundimage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-title {
  font-family: "Chewy", system-ui;
  position: absolute;
  color: #0f4761;
  font-size: 200px;
  padding: 20px 40px;
  border-radius: 10px;

  animation: fadeSlideIn 1.5s ease-out forwards;
}

.shop-section {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
}

.text-content {
  flex: 1;
  max-width: 60%;
}

.image-shop {
  flex: 1;
  max-width: 40%; /* Maximal 40% des Containers */
  position: relative;
}

.image-shop img {
  width: 100%; /* Bild wird auf 100% der Containerbreite skaliert */
  height: auto; /* Höhe wird proportional zur Breite angepasst */
  object-fit: cover; /* Optional: sorgt dafür, dass das Bild den Container ausfüllt und nicht verzerrt wird */
}

@media screen and (max-width: 768px) {
  /* Hero */
  .hero {
    height: 40vh; /* Hero-Bereich für kleinere Bildschirme verkleinern */
  }

  .hero-title {
    font-size: 120px; /* Schriftgröße des Titels verkleinern */
    padding: 10px 20px;
  }

  .shop-section {
    flex-direction: column;
    width: auto;
  }

  .text-content {
    width: 100%;
  }

  .image-shop {
    max-width: 100%;
    align-items: center;
  }

  .image-shop img {
    width: 100%;
    height: auto;
  }
}

/* Optional: Weitere Anpassungen für sehr kleine Bildschirme (z. B. unter 480px) */
@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 80px; /* Titel noch kleiner für sehr kleine Bildschirme */
  }
}
